* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
.booklist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  gap: 2rem;
}
#info {
  background-color: aliceblue;
  border-radius: 10px;
  padding-left: 13px;
  padding-top: 9px;
}
.img {
  text-align: center;
}
